@media only screen and (max-width: 1200px) {
    .features {
        padding: 0 15px;
    }
    .header-box h1 {
        font-size: 250%;
    }

    .header-box h1 .logo-text {
        font-size: 130%;
    }

    .faq-question, .faq-answer {
        width: 80%;
    }
}

@media only screen and (max-width: 1000px) {
    .product-version {
        width: 80%;
    }
    .header-box {
        padding: 40px 10px 40px 10px
    }
    .header-box div {
        margin-left: 20%;
    }

    footer p {
        font-size: 90%;
    }
}

@media only screen and (max-width: 767px) {

    .nav-list li:hover,
    .nav-list li:active {
        border-bottom: 2px solid transparent;
    }

    .sticky-nav .nav-list li:hover,
    .sticky-nav .nav-list li:active,
    .sticky-nav .nav-logo:hover,
    .sticky-nav .nav-logo:hover {
        border-bottom: 2px solid transparent;
    }

    .btn-full:hover,
    .btn-full:active {
        background-color: #c20400;
        color: white;
    }

    .btn-empty:hover,
    .btn-empty:active {
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
    }

    .col-4-of-12:hover .icon-big {
        transform: scale(1.0);
    }

    .see-more-features span:hover {
        color: white;
    }

    .product-version:hover {
        transform: scale(1.0, 1.0);
    }

    .arrow:hover i  {
        transform: scale(1.0);
    }

    .faq-question:hover i {
        color: #c20400;
    }

    .header-box {
        background: none;
    }

    nav {
        padding: 5px 15px;
        background-color: rgba(0,0,0,0.85);
        position: absolute;
        border-bottom: 1px solid #c20400;
        width: 100%;
    }

    nav,
    nav.sticky-nav {
        min-height: 60px;
        height: auto;
    }

    .nav-container {
        display: block;
    }
    .sticky-nav .nav-container .nav-logo {
        width: 20%;
        display: block;
        height: 60px;
    }
    .nav-container .nav-list {
        display: none;
    }

    .nav-container .nav-list li {
        display: inline-flex;
        align-items: center;
        width: 25%;
        height: 50px;
    }

    .nav-container .nav-logo:hover,
    .nav-container .nav-logo:focus,
    .nav-container .nav-list li:hover,
    .nav-container .nav-list li:focus {
        border-bottom: 2px solid transparent;
    }


    .mobile-nav-bar {
        display: block;
        position: absolute;
        right: 15px;
        top: 7px;
        font-size: 200%;
        color: white;
    }
    .sticky-nav .mobile-nav-bar {
        color: #1d1d1d;
    }
    .col.col-4-of-12 {
        width: 50%;
        margin: 0;
    }

    .header-box {
        left: 50%;
    }
    .header-box h1 {
        text-align: center;
    }
    .header-box h1 .logo-text{
        font-size: 130%;
    }
    .header-box .sm-headline {
        display: block;
        line-height: 90%;
        font-size: 80%;
    }
    .header-box div {
        margin: 0 10px;
    }

    header .social-links {
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        display: flex;
        justify-content: center;

    }

    .header-box div .main-buttons {
        margin: 10px 0;
    }
    .main-buttons .btn {
        width: 250px;
        display: block;
        text-align: center;
        margin: 10px auto;
    }

    .gallery {
        border-radius: 0;
    }

    .gallery .slide p {
        height: 25%;
    }
    .gallery .slide img {
        max-height: 75%;
        bottom: 25%;
    }
    .faq-question, .faq-answer {
        width: 85%;
    }
    .faq-answer {
        padding: 5px 30px;
    }

    .product-version {
        width: 90%;
    }


    .scroll-down p {
        display: none;
    }

    footer {
        padding: 25px;
    }

    footer .social-links {
        position: static;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        transform: none;
    }



}

@media only screen and (max-width: 550px) {

    .col.col-4-of-12 {
        padding: 20px 8%;
        width: 100%;
        margin: 0;
    }
    .col.col-6-of-12 {
        width: 100%;
        margin: 0;
    }

    .gallery {
        height: 550px;
    }

    section {
        padding: 40px 0;
    }

    .separator {
        margin: 15px auto 25px auto;
    }

    .gallery .slide img {
        max-height: 65%;
        bottom: 35%;
    }

    .gallery .slide p {
        max-height: 30%;
        overflow: hidden;
    }

    .gallery .arrow {
        padding: 0;
        width: 50%;
        top: 67.5%;
        display: flex;
        justify-content: center;
    }

    .faq-question {
        margin-bottom: 8px;
    }

    .product-version {
        width: 70%;
    }
    .product-version:first-child {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 480px) {

    .gallery .arrow {
        top: 62.5%;
    }

    .gallery .slide img {
        max-height: 57.5%;
        bottom: 42.5%;
    }

    .gallery .slide p {
        height: 30%;
    }

    .col.col-4-of-12 {
        padding: 20px 4%;
    }
    .nav-container .nav-list li {
        margin-left: 0;
        width: 100%;
        height: 50px;
    }
    .faq-answer {
        padding: 2px 20px;
    }

    .product-version {
        width: 90%;
    }

    .header-box .sm-headline {
        font-size: 60%;
    }
    .header-box div .main-buttons {
        margin: 50px 0;
    }
    .main-buttons .btn {
        width: 220px;
    }

}

@media only screen and (max-width: 370px) {
    .header-box h1 .logo-text {
        font-size: 15vw;
    }

}
@media only screen and (max-width: 300px) {

    h2 {
        font-size: 13vw;
    }

    .header-box div .main-buttons .btn {
        width: 90%;
        margin: 10px auto;
    }
}


@media only screen and (max-height: 420px) {
    header .scroll-down,
    header .social-links {
        display: none;
    }
    .header-box {
        padding: 40px 10px 0 10px;
    }
}

