/* ----- INITIAL SETUP ----- */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #1d1d1d;
    font-size: 20px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
}

.screens-section,
.faq-section,
.download-section,
.tos-section {
    background-color: #f5f5f5;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----- REUSABLE COMPONENTS ----- */
/* ANIMATIONS */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-webkit-keyframes zoomInOut {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
    50% {
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
@keyframes zoomInOut {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
    50% {
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@-webkit-keyframes scrollAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
}

@keyframes scrollAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
}

/* GRID ELEMENTS */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 55px 0;
}

/* HEADINGS */
h2 {
    text-transform: uppercase;
    font-size: 200%;
    text-align: center;
    padding: 0 10px;

}

/* BUTTONS */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #c20400;
    border: 1px solid #c20400;
    color: white;
    text-decoration: none;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    cursor: pointer;
}

.btn-full:hover,
.btn-full:active {
    background-color: #910400;
    border: 1px solid #910400;
}


.btn-empty {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.btn-empty:hover,
.btn-empty:active {
    color: #c20400;
    border: 1px solid #c20400;
}

/* SEPARATORS */
.separator {
    width: 65px;
    height: 4px;
    margin: 15px auto 40px auto;
    background-color: #c20400;
}

/* ICONS */
.icon-sm,
.icon-big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #c20400;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}
.icon-sm {
    font-size: 100%;
    margin-right: 10px;
}

.icon-big {
    font-size: 250%;
    margin-bottom: 10px;
}

/* SOCIAL LINKS */
.social-links {
    position: absolute;
    right: 0;
    margin: 0 20px;
}

.social-links a {
    color: white;
}

.social-links li {
    float: left;
    margin-left: 10px;
    list-style: none;
}

.social-links li:first-child {
    margin-left: 0;
}

.social-links li i {
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}
.fa-twitter-square:hover {
    color: #55acee;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-instagram:hover {
    color: #e95950;
}

.fa-youtube:hover {
    color: #ff0000;
}

/* ----- NAVIGATION ----- */
nav {
    z-index: 5;
    padding: 40px 25px;
}

.nav-container {
    height: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

.nav-container,
.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 10;
}

.mobile-nav-bar {
    display: none;
    z-index: 20;
}

.nav-list li,
.nav-logo {
    padding-top: 3px;
    padding-bottom: 5px;
    height: 100%;
    -webkit-transition: border-bottom 300ms;
    -o-transition: border-bottom 300ms;
    transition: border-bottom 300ms;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    cursor: pointer;
}

.nav-logo {
    display: none;
    font-weight: bold;
    z-index: 15;
}

.nav-list li {
    display: inline-block;
    color: #fff;
    margin-left: 35px;
}

.nav-list li:hover,
.nav-list li:active {
    border-bottom: 2px solid #c20400;
}

/* STICKY NAVIGATION */
nav.sticky-nav {
    position: fixed;
    top: 0;
    left:0;
    z-index: 998;
    height: 60px;
    width: 100%;
    margin: 0;
    padding: 0 25px;
    -webkit-animation: fadeIn 300ms;
    animation: fadeIn 300ms;
    background-color: rgba(255,255,255,.96);
    border-bottom: 2px solid #c20400;
}

.sticky-nav.fadeOut {
    -webkit-animation: fadeOut 300ms;
    animation: fadeOut 300ms;
    opacity: 0;
}

.sticky-nav .nav-list,
.sticky-nav .nav-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}
.sticky-nav .nav-logo {
    font-size: 100%;
    margin-right: auto;
    padding-bottom: 0;
}

.sticky-nav .nav-list li {
    padding-bottom: 0;
}
.sticky-nav .nav-list li:hover,
.sticky-nav .nav-list li:active,
.sticky-nav .nav-logo:hover,
.sticky-nav .nav-logo:hover {
    border-bottom: 2px solid #c20400;
}

.sticky-nav .nav-logo,
.sticky-nav .nav-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    color: black;
}

.sticky-nav .nav-logo span {
    color: #c20400;
}

/* ----- HEADER ----- */
header .social-links  {
    font-size: 200%;
    bottom: 20px;
    right: 20px;
}

header {
    position: relative;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.72)), to(rgba(0, 0, 0, 0.72))), url(../img/background.jpg);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)), url(../img/background.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)), url(../img/background.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)), url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    color: #fff;
}

.header-box {
    display: block;
    position: absolute;
    top: 50%;
    left: 35%;
    z-index: 2;
    width: 100%;
    padding: 40px 60px 40px 40px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background:  -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
    background:  -webkit-linear-gradient(left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    background:  -o-linear-gradient(left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    background:  linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    line-height: 1;
}

.header-box div {
    margin-left: 30%;
    text-align: left;
}

.header-box h1 {
    font-weight: 300;
    font-size: 325%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.logo-text {
    font-size: 140%;
}
.logo-text span{
    color: #c20400;
}

.header-box div .main-buttons {
    margin-top: 20px;
    margin-left: 0;
}

.main-buttons .btn {
    margin-right: 12px;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    font-size: 75%;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.scroll-down div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px;
    opacity: 0;
    -webkit-animation: scrollAnimation 1.5s 1;
    animation: scrollAnimation 1.5s 1;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
}

/* ----- FEATURES SECTION ----- */
.features-section .col {
    height: 250px;
    margin: 0;
    padding: 30px;
}
.features-section .row:first-child {
    margin-top: 10px;
}
.features-section h3 {
    text-align: center;
}
.features-section .col-4-of-12 p {
    text-align: justify;
}

.features .col-4-of-12 {
    margin: 0;
}

.features .row:last-child {
    margin-bottom: 0;
}
.col-4-of-12:hover .icon-big {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.see-more-features {
    display: inline-block;
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

.see-more-features * {
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
}
.see-more-features i[class='fas fa-plus icon-sm'] {
    -webkit-animation: zoomInOut 1.2s 1;
    animation: zoomInOut 1.2s 1;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
}

.see-more-features span:hover {
    color: #c20400;
}
.more-features {
    display: none;
}

/* ----- SCREENSHOTS SECTION ----- */
.slide {
    display: none;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.slide img {
    position: absolute;
    padding: 20px;
    top: 0;
    right: 0;
    bottom: 20%;
    left: 0;
    margin: auto;
    max-height: 80%;
    max-width: 100%;

}

.gallery {
    position: relative;
    max-width: 780px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 5px;
    box-shadow: 1px 1px 5px;

}
.slide p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20%;
    width: 100%;
    border-top: 1px solid #c20400;
    padding: 20px;
    color: #fff;
    background-color: rgba(0,0,0,0.85);
    text-align: justify;
}
.slide-box {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.05)), to(rgba(255,255,255,0.05))), url(../img/screens-background.jpg);
    background-image: -webkit-linear-gradient(rgba(255,255,255,0.05), rgba(255,255,255,0.05)), url(../img/screens-background.jpg);
    background-image: -o-linear-gradient(rgba(255,255,255,0.05), rgba(255,255,255,0.05)), url(../img/screens-background.jpg);
    background-image: linear-gradient(rgba(255,255,255,0.05), rgba(255,255,255,0.05)), url(../img/screens-background.jpg);
    background-attachment: fixed;

}
.arrow {
    position: absolute;
    top: 40%;
    padding: 10px;
    z-index: 100;
    cursor: pointer;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
}

.right {
    right: 0;
}

.arrow i {
    font-size: 225%;
    color: #c20400;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.arrow:hover i {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.slide-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
}


.slide-inactive {
    margin: 0 5px;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    font-size: 60%;
    color: dimgray;
}

.slide-active {
    color: #c20400;
}

/* ----- VIDEO SECTION ----- */
.video-row {
    max-width: 780px;
    margin: auto;
}

.video-wrapper {
    position: relative;
    height: 0;
    float: none;
    clear: both;
    width: 100%;
    padding-bottom: 56.25%;
    padding-top: 25px;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ----- FAQ SECTION ----- */
.faq-question {
    font-size: 110%;
    cursor: pointer;
}
.faq-question, .faq-answer {
    width: 70%;
    margin: 0 auto;
}
.faq-question:hover i {
    color: dimgray;
}
.faq-question i {
    margin: 5px;
    color: #c20400;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.faq-section .row {
    margin: 3px auto;
}
.faq-answer {
    display: none;
    padding: 5px 40px;
    text-align: justify;
}
i.rotate {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    color: dimgray;
}

.faq-section .contact-us {
    margin-top: 20px;
    text-align: center;
}
.faq-section .contact-us h3 {
    padding: 0 10px;
}
.contact-us-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 8px auto 0 auto;
}
.contact-us-buttons a {
    text-decoration: none;
    color: black;
}

.contact-us-buttons *:nth-child(2) {
    margin-left: 10px;
}

/* ----- DOWNLOAD SECTION ----- */
.product-version {
    width: 60%;
    margin: 0 auto;
    border-radius: 3px;
    color: black;
    background-color: rgba(237,237,237,0.95);
    text-align: center;
    -webkit-box-shadow: 1px 1px 10px black;
    box-shadow: 1px 1px 10px black;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

.product-version .version-name {
    margin: 0;
    font-size: 110%;
}

.product-version:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: scale(1.13, 1.13);
    -ms-transform: scale(1.13, 1.13);
    transform: scale(1.13, 1.13);
}

.download-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/background-2.jpg);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/background-2.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/background-2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/background-2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.product-version h3 {
    font-size: 150%;
    color: #c20400;
    text-transform: uppercase;
}

.free-ver h3 {
    color: dimgray;
}
.product-version div {
    padding: 20px;
}
.product-version div:nth-child(2) {
    line-height: 1.3;
    text-align: left;
    border-top: 2px solid #c20400;
    padding: 20px 20px 0 20px;
}
.version-name {
    background-color: #1d1d1d;

}

.cross {
    color: dimgray;
    margin-right: 15px;
}

/* ----- FOOTER ----- */
footer {
    position: relative;
    padding: 40px;
    text-align: center;
    font-size: 80%;
}

footer p a {
    color: black;
}

footer .social-links {
    top: 50%;
    color: #1d1d1d;
    font-size: 250%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
footer .social-links a {
    color: #1d1d1d;
}

/* ----- TOS PAGE ----- */
.tos-section h2 {
    margin-top: 20px;
    font-size: 120%;
}

.tos-section p {
    padding: 0 40px;
}

.tos-list-container {
    padding: 0 60px;
}

.tos-list {
    padding-left: 50px;
}

.tos-section .separator {
    margin: 8px auto;
}

.tos-section a {
    text-decoration: none;
    color: black;
}