RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
RewriteRule ^index\.html$ / [NC,R,L]

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 1 month"
	ExpiresByType image/gif "access plus 15 days"
	ExpiresByType image/jpeg "access plus 15 days"
	ExpiresByType image/png "access plus 15 days"
	ExpiresByType image/jpg "access plus 15 days"
	ExpiresByType image/svg+xml "access plus 15 days"
</IfModule>