/* Initial Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #1d1d1d;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 40px;
}

section {
    padding-top: 60px;
}

/* Header */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/background2.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    color: #fff;
}

.header-box {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    background:  linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    padding: 40px 60px 40px 40px;
}

.header-box div {
    margin-left: 30%;
    text-align: left;
}

.header-box h1 {
    font-weight: 300;
    font-size: 300%;
    text-transform: uppercase;
    letter-spacing: 1px;
}
img {
    transition: all 500ms;
}
img:hover {
    transform: scale(1.1);
}
.logo-text {
    font-size: 120%;
}
.logo-text span{
    color: #c20400;
}

.header-box div .main-buttons {
    margin-top: 20px;
    margin-left: 0;
}

h2 {
    text-transform: uppercase;
    font-size: 200%;
    text-align: center;
    margin-bottom: 20px;

}
/* Main-nav */

.main-nav {
    list-style: none;
    float: right;
    margin-top: 50px;
    padding-bottom: 15px;
}

.main-nav li {
    display: inline-block;
    margin-left: 35px;
    transition: all 300ms;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 85%;
    color: #fff;

}

.main-nav li:hover,
.main-nav li:active {
    border-bottom: 2px solid #c20400;
}




/* BUTTONS */
.btn:link,
.btn:visited {
    background-color: #c20400;
    border: 1px solid #c20400;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;
    margin-right: 12px;
    transition: all 300ms;
}

.btn-full:hover,
.btn-full:active {
    background-color: #910400;
    border: 1px solid #910400;
}

.btn-full:hover,
.btn-full:active {
    background-color: #910400;
    border: 1px solid #910400;
}


.btn-empty:link,
.btn-empty:visited {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.btn-empty:hover,
.btn-empty:active {
    color: #c20400;
    border: 1px solid #c20400;
}

/* ICONS */
.icon {
    font-size: 250%;
    color: #c20400;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/* FEATURES LIST */
section hr {
    width: 20%;
    border-color: #c20400;
    margin: 0 auto;
}
.features .col {
    padding: 20px;
}
.features h3 {

    text-align: center;
    margin-bottom: 10px;
}
.features p {
    text-align: justify;
}
img {
    margin-top: 30px;
    max-width: 100%;
}

/* IMPROVED LAYOUT SECTION */
.screens-section {
    background-color: #f5f5f5;
}

.improved-layout-section h3 {
    text-align: center;
}

/* DOWNLOAD SECTION */
.download-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

.product-version {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(29,29,29,0.81);
    text-align: center;
    padding: 20px;
}